.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }